main{
  height: 100%;
}
#input-recarga{
  width: 320px;
  height: 45px;
  border: 1px solid #9b9ba357;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #252529;
  color: #9b9ba3;
}

#submit-recarga{
  width: 320px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #24292e;
  color: #fff;
}
#submit-recarga:hover{
  background-color: #555;
}

#submitRecarga{
  width: 320px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #24292e;
  color: #fff;
}