@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  padding: 30px 50px;
  height: 10vh;
}
body {
  background-color: #1e1e20!important;
  font-family: "Inter", sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  margin: 0px 10px;
}
a:hover {
  color: #535bf2;
}
p {
  color: #9b9ba3;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
label {
  font-weight: 200;
  font-size: 15px;
}

/*CREACION DE LA TARJETA*/
#tarjeta {
  width: 520px;
  height: 300px!important;
  border: 4px solid #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#img-tarjeta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
#codigo {
  height: 25%;
}
#contenido {
  height: 60%;
}
#botones{
  width: 250px;
  height: 45px;
  border: 1px solid #7777777e;
  background: local;
  border-radius: 17px;
  color: #fff;
  font-weight: 400;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#botones:hover{
  color: #535bf2;
  
}
.botones{
  width: 200px;
  height: 40px;
  border: 1px solid #7777777e;
  background: #252529;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botones:hover{
  background-color: #535bf2;
  color: #fff;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/*
#miTabla {
  background-color: rgb(28, 24, 87);
  color: rgb(119, 23, 106);
}*/
/*
tbody{
  color: #1e1e20;
}*/
/*
#miTabla th, #miTabla td {
  border: 1px solid rgb(151, 21, 21);  
}*/